.bannerHeader {
    max-height: 25vh;
}

.bannerHeaderContent {
    margin: 0px 5%;
    position: relative;
    top: -130px;
}

.subtext {
    display: none;
}

.bannerHeaderContent p {
    color: #fff;
}

.bannerHeaderContent h6 {
    letter-spacing: 0.5px;
}

@media(min-width:525px) {
    
}

@media(min-width:768px) {
    .bannerHeader {
        max-height: 37vh;
    }
    .bannerHeaderContent {
        top: -275px;
    }
    .bannerHeaderContent p {
        font-size: 20px;
        padding-top: 5px;
        letter-spacing: 0.5px;
    }
    .bannerHeaderContent h6 {
        letter-spacing: 1.5px;
    }
    .subtext {
        display: block;
    }
}

@media(min-width:1024px) {
    .bannerHeader {
        max-height: 70vh;
    }
    .bannerHeaderContent {
        top: -300px;
    }
    .bannerHeaderContent h6 {
        letter-spacing: 3px;
    }
}

@media(min-width:1200px) {
    .bannerHeaderContent {
        top: -400px;
    }
    .bannerHeaderContent h6 {
        font-size: 68px;
    }
}