.bannerHeaderContent {
    position: absolute;
    top: 17%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    text-align: center;
}

.bannerHeaderContent p {
    color: #fff;
}

@media (min-width: 1503px) {
    .bannerHeaderContent {
        top: 25%;
    }
}