:root {
  --mb1-1: #3A8694;
  --mb1-2: #499CA6;
  --mb1-3: #88DEEB;
  --mb1-4: #ADF4FF;

  --mb2-1: #FF8179;
  --mb2-2: #FFEA55;
  --mb2-3: #fdef81;

  --char0: #f2f2f2;
  --char1: #BFBFBF;
  --char2: #737373;
  --char3: #404040;
  --char4: #262626;
  --char5: #0D0D0D;

  --white: #FFF;
  --black: #000;

  --gap: 10px;

  --p: 15px;
  --h1: 22px;
  --h2: 20px;
  --h3: 19px;
  --h4: 18px;
  --h5: 17px;
  --h6: 16px;

  @media(min-width:375px) {
    --h1: 28px;
    --h2: 26px;
    --h3: 21px;
    --h4: 20px;
    --h5: 19px;
    --h6: 22px;
  }

  @media(min-width:414px) {
    --h1: 29px;
    --h2: 27px;
    --h3: 25px;
    --h4: 23px;
    --h5: 21px;
    --h6: 22px;
  }

  @media(min-width:768px) {
    --h1: 32px;
    --h2: 30px;
    --h3: 28px;
    --h4: 22px;
    --h5: 24px;
    --h6: 42px;
  }

  @media(min-width:1024px) {
    --h1: 50px;
    --h2: 36px;
    --h3: 32px;
    --h4: 24px;
    --h5: 30px;
    --h6: 45px;
  }

  @media(min-width:1200px) {
    --p: 17px;
  }
}

p {
  font-size: var(--p);
  font-family: 'Oxygen';
}

h1 {
  font-family: 'Oxygen';
  font-size: var(--h1);
  font-weight: lighter;
}

h2 {
  font-family: 'Oxygen';
  font-size: var(--h2);
}

h3 {
  font-family: 'Oxygen';
  font-size: var(--h3);
}

h4 {
  font-family: 'Oxygen';
  font-size: var(--h4);
}

h5 {
  font-family: 'Oxygen';
  font-size: var(--h5);
  font-weight: lighter;
}

h6 {
font-size: var(--h6);
font-family: 'Oxygen';
font-weight: lighter;
text-align: center;
color: #fff;
}

li {
  font-family: 'Oxygen';
  font-size: var(--p);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}