:root {
  --p: 14px;
  --h2: 20px;
  --h3: 19px;
  --h4: 18px;
  --h5: 17px;
  --h6: 16px;

  @media(min-width:375px) {
    --h2: 26px;
    --h3: 21px;
    --h4: 20px;
    --h5: 19px;
    --h6: 18px;
  }

  @media(min-width:414px) {
    --h2: 27px;
    --h3: 25px;
    --h4: 23px;
    --h5: 21px;
    --h6: 20px;
  }

  @media(min-width:768px) {
    --bannerTitle: 46px;    
    --blockquote: 26px;
    --p: 15px;
    --h2: 30px;
    --h3: 28px;
    --h4: 26px;
    --h5: 24px;
    --h6: 22px;
  }

  @media(min-width:1024px) {
    --borderSpacing: 75px;
    --p: 16px;
    --h2: 36px;
    --h3: 32px;
    --h4: 29px;
    --h5: 27px;
    --h6: 25px;
  }

  @media(min-width:1200px) {
    --p: 17px;
  }
}

h2 {
  font-size: var(--h2);
}

h3 {
font-size: var(--h3);
}

h4 {
font-size: var(--h4);
}

h5 {
font-size: var(--h5);
}

h6 {
font-size: var(--h6);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

}

a {
  color: inherit;
  text-decoration: none;
}